/* .project-section {
  margin-left: 15rem;
} */
.project-list {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 17px 11px 11px -12px rgba(231, 225, 225, 0.87);
  -webkit-box-shadow: 17px 11px 11px -12px rgba(231, 225, 225, 0.87);
  -moz-box-shadow: 17px 11px 11px -12px rgba(231, 225, 225, 0.87);
}
#dark .project-list {
  box-shadow: none;
}

.project-list-opened {
  border-left: 5px solid green;
}
.project-list:hover {
  border-left: 5px solid greenyellow;
  cursor: pointer;
  transition-duration: 1s;
}
.title-and-collapse-option {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}
.tech-used-in-project {
  margin-top: 20px;
  margin: 5px;
}

.tech-used-in-project p:hover {
  background-color: green;
}
.tech-used-in-project p {
  background-color: greenyellow;
  color: #000;
  border-radius: 90px;
  padding: 8px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.live-demo-button {
  background-color: green;
  border-radius: 90px;
  width: fit-content;
  margin: 5px;
  padding: 10px;
}

.live-demo-button:hover {
  background-color: greenyellow;
  color: #000;
  transition: 1s;
}
.live-demo-button a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.live-demo-button:hover a {
  color: #000;
}

.description {
  margin: 5px;
}
