.contact-section {
  height: 650px;
  box-shadow: 7px 5px 5px 2px rgba(230, 224, 224, 0.86);
  -webkit-box-shadow: 5px 5px 5px -5px rgba(230, 224, 224, 0.86);
  -moz-box-shadow: 5px 5px 5px -5px rgba(230, 224, 224, 0.86);
 }

.contact-form-image img {
  height: 600px;
  width: 100%;

  border-radius: 10px;
  object-fit: cover;
}

.contact-form-input { 
  height: 50px;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  width: 100%;
}
.contact-form textarea {
  height: 50px;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  width: 100%;
}
.custom-select-tag {
  height: 50px;
  border-radius: 10px;
  margin: 10px 0px 20px 0px;
  width: 100%;
}
.button-submit {
  background-color:#4caf50;
  padding: 10px;
  border-radius: 30px;
  border-color: #000;
  width: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.button-submit:hover {
  background-color: #45a049;
  transition: 1s;
  width: 100%;
}
.button-submit p {
  padding: 5px;
  /* cursor: pointer; */
  margin: 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.button-submit p:hover {
  transition-duration: 1s;
  color: #fff;
}
