.exp-section {
  margin-top: 70px;
  /* margin-left: 15rem; */
}
.timeline-section {
  margin-top: 20px;
}
.tech-skills p {
  background-color: #4caf50;
  border-radius: 90px;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.tech-skills p:hover {
  background-color: #45a049;
  cursor: pointer;
  color: #000;
  transition-duration: 1s;
}
@media screen and (max-width: 1169px){
.dates {
  color: #fff;
}
}
@media screen and (min-width: 1169px){
.dates {
  color: #000;
}
}
