.sidebarbar-profile-pix img {
  border-radius: 90px;
  margin-top: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  object-fit: cover;
  border: 3px solid green;
}

.navbar-items ul li {
  color: #fff;
  list-style-type: none;
  cursor: pointer;
  margin-top: 30px;

  align-items: center;
  justify-content: center;
}

.navbar-items ul li {
  margin-left: 10px;
  margin-right: 10px;
}
.navbar-items ul li a {
  text-decoration: none;
}

.navbar-items ul li svg {
  margin-right: 25px;
  margin-left: 10px;
}

.navbar-icons-only ul li {
  margin-top: 10px;
  cursor: pointer;
  list-style-type: none;
}
.navbar-icons-only ul li svg {
  margin-left: 0px;
}

.nav-item .active {
  border-left: 2px solid green;
  color: greenyellow;
}

@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
